<div class="row btn-page">
    <!-- <div class="col-sm-12">
      <app-card cardTitle="ข้อมูลลูกค้า" [options]="false" blockClass="pt-0" cardTitleStyle="header-title-green header-title-larger header-with-button">
        <div class="row pb-5">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">แขวง/ตำบล<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">อำเภอ<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">จังหวัด<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">รหัสไปรษณีย์<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">เบอร์โทรศัพท์ติดต่อ<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">เบอร์ FAX</label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">เลขประจำตัวผู้เสียภาษี<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">เลขทะเบียนการค้า<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">สถานการใช้งาน</label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="compaddrEng" class="d-flex">ตำแหน่งที่ตั้งร้านค้า</label>
                    <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
            
                  </div>
            </div>
            
        </div>
      </app-card>
    </div> -->
    <div class="col-sm-12">
        <app-card cardTitle="ข้อมูลลูกค้า" [options]="false" blockClass="pt-0" cardTitleStyle="header-title-green header-title-larger header-with-button" [headerButton]="false">
                <div class="row pb-5">
                    <div class="col-md-3 gx-5">
                        <div class="form-group">
                            <label for="compaddrEng" class="d-flex">รหัสบริษัท<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                            <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
                    
                          </div>
                    </div>
                    <div class="col-md-3 gx-5">
                        <div class="form-group">
                            <label for="compaddrEng" class="d-flex">แขวง/ตำบล<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                            <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
                    
                          </div>
                    </div>
                    <div class="col-md-3 gx-5">
                        <div class="form-group">
                            <label for="compaddrEng" class="d-flex">อำเภอ<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                            <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
                    
                          </div>
                    </div>
                    <div class="col-md-3 gx-5">
                        <div class="form-group">
                            <label for="compaddrEng" class="d-flex">จังหวัด<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                            <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
                    
                          </div>
                    </div>
                    <div class="col-md-3 gx-5">
                        <div class="form-group">
                            <label for="compaddrEng" class="d-flex">ชื่อบริษัท<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                            <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
                    
                          </div>
                    </div>
                    <div class="col-md-3 gx-5">
                        <div class="form-group">
                            <label for="compaddrEng" class="d-flex">เบอร์โทรศัพท์ติดต่อ<p style="color: red; padding: 0 5px; margin-bottom: 0px;">*</p></label>
                            <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
                    
                          </div>
                    </div>
                    <div class="col-md-3 gx-5">
                        <div class="form-group">
                            <label for="compaddrEng" class="d-flex">สถานการใช้งาน</label>
                            <input type="text" class="form-control" id="compaddrEng" aria-describedby="compaddrEng" placeholder="" />
                    
                          </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-8 offset-md-4">
                    <div class="input-group mb-3 gap-3 d-flex justify-content-end">
                        
                            <button type="button" class="btn-labeled btn add m-0 rounded-3">
                                <span class="btn-label"><i class="bi bi-plus icon-size"></i></span>
                                เพิ่ม
                            </button>
                            <button type="button" class="btn-labeled btn find m-0 rounded-3">
                                <span class="btn-label"><i class="bi bi-search icon-size"></i></span>
                                ค้นหา
                            </button>
                            <button type="button" class="btn-labeled btn reset m-0 rounded-3">
                                <span class="btn-label"><i class="bi bi-arrow-repeat icon-size"></i></span>
                                ค่าเริ่มต้น
                            </button>
                        </div>
                    </div>
                </div>
        </app-card>
    </div>
    <div class="col-sm-12">
        <app-card cardTitle="รายชื่อลูกค้า" [options]="false" blockClass="table-border-style" cardTitleStyle="header-title-green header-title-larger header-with-button" [headerIcon]="true" [headerUnderLine]="true">
            <div class="form-group d-flex align-items-baseline">
              <p for="exampleFormControlSelect1">แสดง</p>
              <select class="form-control mx-2" style="width: 60px;" id="exampleFormControlSelect1">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>75</option>
                <option>100</option>
              </select>
              <p for="exampleFormControlSelect2">แถว</p>
            </div>
          <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-nowrap">ลำดับ</th>
                    <th class="text-nowrap">รหัสบริษัท</th>
                    <th class="text-nowrap">ชื่อบริษัท</th>
                    <th class="text-nowrap">ที่อยู่บริษัท</th>
                    <th class="text-nowrap">แขวง/ตำบล</th>
                    <th class="text-nowrap">อำเภอ</th>
                    <th class="text-nowrap">จังหวัด</th>
                    <th class="text-nowrap">เบอร์โทรศัพท์</th>
                    <th class="text-nowrap">สถานะ</th>
                    <th class="text-nowrap">แก้ไข/ลบ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>CU001</td>
                    <td>Otto</td>
                    <td>&#64;mdo</td>
                    <td>&#64;mdo</td>
                    <td>&#64;mdo</td>
                    <td>&#64;mdo</td>
                    <td>&#64;mdo</td>
                    <td>&#64;mdo</td>
                    <td class="d-flex gap-2 text-nowrap"><button class="bi bi-pencil-fill table-icon-edit "></button><button class="bi bi-trash table-icon-del"></button></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>CU002</td>
                    <td>Thornton</td>
                    <td>&#64;fat</td>
                    <td>&#64;fat</td>
                    <td>&#64;fat</td>
                    <td>&#64;fat</td>
                    <td>&#64;fat</td>
                    <td>&#64;fat</td>
                    <td class="d-flex gap-2 text-nowrap"><button class="bi bi-pencil-fill table-icon-edit "></button><button class="bi bi-trash table-icon-del"></button></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>&#64;twitter</td>
                    <td>&#64;twitter</td>
                    <td>&#64;twitter</td>
                    <td>&#64;twitter</td>
                    <td>&#64;twitter</td>
                    <td>&#64;twitter</td>
                    <td class="d-flex gap-2 text-nowrap"><button class="bi bi-pencil-fill table-icon-edit "></button><button class="bi bi-trash table-icon-del"></button></td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="row pt-2">
            <div class="col-md-6 d-flex align-items-center">
              <p class="m-0">แสดงข้อมูล 1 ถึง 10 บรรทัด จาก 100</p>
              
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <nav aria-label="Page navigation example">
                  <ul class="pagination mb-3">
                    <li class="page-item">
                      <a class="page-link paginage-size paginage-color" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link paginage-size paginage-color" href="#">1</a></li>
                    <li class="page-item"><a class="page-link paginage-size paginage-color" href="#">2</a></li>
                    <li class="page-item"><a class="page-link paginage-size paginage-color" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link paginage-size paginage-color" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
          </div>
          </app-card>
    </div>
</div>
  
